<h1 id="tableLabel">Lista articole</h1>

<p>Lista completa de articole</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th></th>
      <th>Nume</th>
      <th>Autor </th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.titlu }}</td>
      <td>{{ forecast.autor_creare }}</td>
      <td>{{ forecast.link }}</td>
    </tr>
  </tbody>
</table>

<div class="links">
  <a routerLink="/posts/post/ChocolateCheesecakeRecipe" style="margin-bottom:24px">Chocolate Cheesecake Recipe >></a>
</div>