<h1 id="tableLabel">Lista articole</h1>

<p>Lista completa de articole</p>

<p *ngIf="!listaArticole"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="listaArticole">
  <thead>
    <tr>
      <th></th>
      <th>Nume</th>
      <th>Autor </th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let articol of listaArticole">
      <td>{{ articol.titlu }}</td>
      <td>{{ articol.autor_creare }}</td>
      <td>{{ articol.link }}</td>
    </tr>
  </tbody>
</table>

<div class="links">
  <a routerLink="/posts/post/ChocolateCheesecakeRecipe" style="margin-bottom:24px">Chocolate Cheesecake Recipe >></a>
</div>