<body>

  <div class="input-group w-auto position-relative">
    <input #input type="search"
           class="form-control"
           placeholder="Cauta utilizator dupa username"
           aria-label="Search" />
    <button class="btn btn-outline-primary" type="button" (click)="search(input.value)">
      Search
    </button>
  </div>
  <div class="position-absolute">
    <ul class="list-unstyled" *ngFor="let user of utilizatoriFiltrati">
      <li>
        <a class="list-group-item btn btn-primary" (click)="afiseazaUtilizator(user)"> {{user.username}} </a>
      </li>
    </ul>
  </div>

  <!-- TODO: de facut butonul de save si functionalitatea lui -->
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" *ngIf="afis">
    <a> {{ userAfis.username }} </a> <br>
    <input type="checkbox" class="btn-check" id="btncheck1" (click)="changeAdmin()" [checked]="isAdmin">
    <label class="btn btn-outline-primary" for="btncheck1">Admin</label>
  
    <input type="checkbox" class="btn-check" id="btncheck2" (click)="changeModerator()" [checked]="isModerator">
    <label class="btn btn-outline-primary" for="btncheck2">Moderator</label>
  
    <input type="checkbox" class="btn-check" id="btncheck3" (click)="changeUtilizator()" [checked]="isUtilizator">
    <label class="btn btn-outline-primary" for="btncheck3">Utilizator</label>
  </div>

</body>
