<h1>Wikipedia - Proiect Dezvoltarea Aplicațiilor Web</h1>
<p>Pe prima pagină vei găsi ultimele 50 de articole apărute.</p>
<p>Pentru a caută un articol, scrie mai jos denumirea acestuia.</p>
<p><input type="text" (keyup)="filterValues($event)"></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="articole && accessToTable">
  <thead>
    <tr>
      <th>Nume Articol</th>
      <th>Domeniu</th>
      <th>Data adăugării</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let articol of articoleFiltrate">
      <td><a href="{{ articol.link }}">{{ articol.titlu }}</a></td>
      <td>{{ articol.domeniu }}</td>
      <td>{{ articol.data_adaugarii }}</td>
    </tr>
  </tbody>
</table>
